@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #916969;
}
  
nav li {
    float: left;
}

nav li a {
    display: block;
    color: #470505;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #DACDCD;
}

#judul {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
    background-image: linear-gradient(to right, #0768DA 0%, #8136D4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.upload {
    display: flex;
    margin-left: 15%;
    width: 70%;
}

.uploadleft {
    flex: 1;
    flex-grow: 2;
    min-height: 300px;
}

.uploadleft img {
    height: 300px;
}

#frame {
    background-image: url("../Image/blank.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}


.uploadright {
    flex: 1;
    flex-grow: 1;
    justify-content: center;
}

.uploadright form {
    justify-content: center;
}

.uploadright .unggah {
    color: #006CDB;
    margin: 10px 0;
}

.switchclass {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

h4 {
    margin: 0 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #8136D4;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #8136D4;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input[type=button], input[type=submit] {
    background-image: linear-gradient(to right, #0768DA 0%, #8136D4 100%);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
}

.uploadlabel {
    display: inline-block;
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}

.submitndownload {
    display: flex;
    align-items: center;
}

.download {
    margin-left: 10px;
}

.download a {
    background-image: linear-gradient(to right, #0768DA 0%, #8136D4 100%);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

hr {
    margin : 30px 10%;
    width: 80%;
}

.result {
    margin: 0 10%;
}

.result-text {
    display: flex;
    justify-content: space-between;
}

.error-message ul  {
    color: red;
    background-color: whitesmoke;
}