<!doctype html>
<html> 
    <head>
        <title>Never gonna lens you up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                        $('#imagePreview').hide();
                        $('#imagePreview').fadeIn(650);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imageUpload").change(function() {
                readURL(this);
            });</script>    
        <h1>Never Gonna Lens You Up</h1> 
        <h2>Aplikasi pencarian gambar</h2>
        <p>Unggah gambar dengan menggunakan tombol di bawah ini. File yang valid hanyalah file yang berformat .png, .jpg, dan .jpeg.</p>
        <p>Pastikan folder yang Anda unggah hanya memiliki file yang valid</p>
        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        <form method="POST" enctype="multipart/form-data"> 
            <h3>Unggah Gambar:</h3>
            <input type="file" name="file"><br> <!-- tombol upload Gambar -->
            <h3>Unggah folder dataset:</h3>
            <input type="file" name="database" id="databaseinput" webkitdirectory = "true" multiple/><br>
            <h3>Pilih metode pencarian</h3>        
            <div class="switchclass">
            <h3>Warna</h3>
                <label class="switch">
                    <input type="checkbox" name="featuretoggle">
                    <span class="slider round"></span>
                </label>
            <h3>Tekstur</h3>
        </div>
            <h3>Kirim Gambar dan Dataset:</h3>
            <input type="submit"> <!-- tombol submit-->
        </form><br>
        

        <h2>Gambar yang diinput:</h2>
        {% if filename %}
            <div>
                <img src="{{ url_for('display_image', filename=filename) }}", width="300px">
            </div>
        {% endif %}
        <h2>Hasil pencarian:</h2>
        {% for simData in imgPrioQueue %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="{{ simData[1] }}" height="200px">
                <figcaption>{{ simData[0] }}%</figcaption>
            </figure>
        {% endfor %}
    </body>
</html>