<!doctype html>
<html> 
    <head>
        <title>Never gonna lens you up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "{{url_for('static',filename='css/style.css')}}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="{{url_for('static',filename='page/tutorial.html')}}">Tutorial</a></li>
                    <li><a href="{{url_for('static',filename='page/video.html')}}">Video</a></li>
                    <li><a href="{{url_for('static',filename='page/about-us.html')}}">About Us</a></li>
                    <li><a href="{{url_for('static',filename='page/concept.html')}}">Concept</a></li>
                  </ul>
            </nav>
        </header>   
        <h1 id="judul">Never Gonna Lens You Up</h1>
        <div class="upload">
            <div class="uploadleft">
                {% if filename %}
                <div>
                    <img src="{{ url_for('display_image', filename=filename) }}">
                </div>
                {% else %}
                <div id="frame">

                </div>
                {% endif %}
            </div>
            <div class="uploadright">
                <form method="POST" enctype="multipart/form-data"> 
                    <h3 class="unggah">Unggah Gambar:</h3>
                    <input type="file" name="file" id="imageInput" hidden> <!-- tombol upload Gambar -->
                    <label class="uploadlabel" for="imageInput">Unggah Gambar</label>
                    <h3 class="unggah">Unggah folder dataset:</h3>
                    <input type="file" name="database" id="databaseinput" webkitdirectory = "true" multiple hidden/>
                    <label class="uploadlabel" for="databaseinput">Unggah Dataset/Database Gambar</label>
                    <h3 class="unggah">Metode pencarian:</h3>        
                    <div class="switchclass">
                    <h4>Warna</h4>
                        <label class="switch">
                            <input type="checkbox" name="featuretoggle">
                            <span class="slider round"></span>
                        </label>
                    <h4>Tekstur</h4>
                    </div>
                    <div class="submitndownload">
                        <input type="submit"> <!-- tombol submit-->
                        {% if filename and prioQueueSize %}
                        <div class = "download">
                            <a href="{{url_for('download_file')}}">Unduh file PDF</a>
                        </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <hr>
        
        <div class="result">
            <p class="error-message">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                      <li>{{ message }}</li><br>
                    {% endfor %}
                    </ul>
                    <hr style="width: 100%; margin: 0;">
                  {% endif %}
                {% endwith %}
            </p>
            {% if filename and prioQueueSize %}
            <div class="result-text">
                <h2>Hasil pencarian:</h2>
                <p>Menampilkan {{prioQueueSize}} gambar dalam waktu {{runTime}} detik</p>
            </div>
            {% endif %}
            <div class="paginate">
                {{pagination.links}}
                {% for simData in imgPrioQueue %}
                    <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                        <img src="{{ simData[1] }}" height="200px">
                        <figcaption>{{ simData[0] }}%</figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>

        <script>
            document.getElementById('imageInput').addEventListener('change', function (e) {
                var file = e.target.files[0];
                
                if (file) {
                    var reader = new FileReader();
    
                    reader.onload = function (e) {
                        document.getElementById('frame').style.backgroundImage = 'url(' + e.target.result + ')';
                    };
    
                    reader.readAsDataURL(file);
                }
            });
        </script>
    </body>
</html>